﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="Basemap.aspx.vb" Inherits="Merafong.Basemap" %>

<asp:Content runat="server" ID="header" ContentPlaceHolderID="headerContent">
    <script src="//js.arcgis.com/3.13/"></script>
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
<div class="jumbotron vertical-center">
  
 <iframe runat="server" id="frame1" width="1050" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="text-align:center;"
        src="BaseMap.html">
    </iframe>
</div>
</asp:Content>
