﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="FinanceMap.aspx.vb" Inherits="Merafong.FinanceMap" %>
<asp:Content ID="Content1" ContentPlaceHolderID="headerContent" runat="server">
     <script src="//js.arcgis.com/3.13/"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron vertical-center">
  
 <iframe runat="server" id="frame1" width="1050" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="text-align:center;"
        src="FinanceMap.html">
    </iframe>
</div>
</asp:Content>
