﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="fMap.aspx.vb" Inherits="Merafong.fMap" %>
<asp:Content ID="Content1" ContentPlaceHolderID="headerContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron">
   <div id="MapViewer" runat="server" style="text-align:center">
     <iframe src="~/FinanceMap/index.html" runat="server" id="mapframe" width="1000" height="800" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
         </iframe>  
    </div>
</div>
</asp:Content>
