﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="Hotlink.aspx.vb" Inherits="Merafong.Hotlink" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<asp:Content ID="Content1" ContentPlaceHolderID="headerContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron">
    <h2 style="text-align:center;">Hotlink Tool</h2>
        <hr />
       <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <telerik:RadFileExplorer runat="server" ID="RadFileExplorer1" Width="1000" Height="0px" Skin="Vista">
                    
                    </telerik:RadFileExplorer>
                 </div>
         </div>
    </div>
</asp:Content>
